body{
    background-color: rgb(205, 237, 238);
    margin: 80px
}
.Registration{
    background-color:rgba(95, 223, 116, 0.959) ;
    padding-left: 230px;
    height: 700px;
    width: 400px;
}
#gender{
    width: 128px;
    height: 30;
}
#btn{
    background-color: rgba(253, 7, 7, 0.986);
    color: white;
    height: 30px;
    width: 130px;
}